<h3 class="ui header">{{t "forms.i-i-s-internet-magazin-заказы-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодЗаказа
      class=(if (v-get validationModel "кодЗаказа" "isInvalid") "error")
      label=(t "forms.i-i-s-internet-magazin-заказы-e.кодЗаказа-caption")
      data-test-i-i-s-internet-magazin-заказы-e-кодЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодЗаказа" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-internet-magazin-заказы-e.датаЗаказа-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаЗаказа
      class=(if (v-get validationModel "датаЗаказа" "isInvalid") "error")
      data-test-i-i-s-internet-magazin-заказы-e-датаЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаЗаказа" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.время
      class=(if (v-get validationModel "время" "isInvalid") "error")
      label=(t "forms.i-i-s-internet-magazin-заказы-e.время-caption")
      data-test-i-i-s-internet-magazin-заказы-e-время=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "время" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.вобработке
      class=(if (v-get validationModel "вобработке" "isInvalid") "error")
      label=(t "forms.i-i-s-internet-magazin-заказы-e.вобработке-caption")
      data-test-i-i-s-internet-magazin-заказы-e-вобработке=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "вобработке" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.завершен
      class=(if (v-get validationModel "завершен" "isInvalid") "error")
      label=(t "forms.i-i-s-internet-magazin-заказы-e.завершен-caption")
      data-test-i-i-s-internet-magazin-заказы-e-завершен=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "завершен" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодКлиента
      class=(if (v-get validationModel "кодКлиента" "isInvalid") "error")
      label=(t "forms.i-i-s-internet-magazin-заказы-e.кодКлиента-caption")
      data-test-i-i-s-internet-magazin-заказы-e-кодКлиента=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодКлиента" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-internet-magazin-заказы-e.сумма-caption")
      data-test-i-i-s-internet-magazin-заказы-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
</form>
